#banner-section {
    width: 100%;
    text-align: center;   
    background-image: url("../image/marche.jpg");
    height: 350px;
    opacity: 0.9;
    object-fit: contain;   
  }

  .banner-text{
      position: relative;
      text-align: center;
      margin: auto;
      color:rgb(255, 255, 255);
      font-family: "Montserrat";
      top: 100px;
  }

  .banner-text p{
      font-family: "poppins";
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
  }
  
  /*PRODUCT CARD SECTION*/

  .product-header{
      text-align: center;
      font-family: "Montserrat";
      padding: 2% 7%;
      background-color: #f2f4f5;
      margin-bottom: 2%;

  }
  .product-header .container{
      margin-top: 10px;
  }
   .product-main h3{
       text-align: center;
   }
  .product-main span{
      color:#14ad3a;    
      font-weight: bold; 
  }
 .product-header .subtitle{
     color:rgb(45, 77, 54);
 }
 #product-place .card-head {
     text-align: center;
 }
 .img-head{
    width: 5%;
    margin-bottom: 1%;
}
.card-head{
    font-family: "Montserrat";
}
.categories{
    align-content: center;
    margin-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
    -moz-box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
    box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
}
.categories .col-lg-2 h1{
    font-size: 2rem;
}
.categories .vr{
    text-align: center;
    border-left: 2px solid rgb(177, 177, 177);
    height: 50px;
    width: 0px;
    margin-bottom: 1%;
}
.card{
    border:none;
    -webkit-box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
    -moz-box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
    box-shadow: -4px 13px 5px -15px rgba(0,0,0,0.56);
}
.categories i{
    padding-right: 8px;
}

.product-list-card{
    text-items: center;
    margin-bottom: 20px;
}

.product-list-card .col-lg-3{
 margin:0 9px 0 0;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}
.categories .btn{
    border-radius: 50px;
    margin-bottom: 1%;
    width: 100%;
}
.categorie-container p{
    font-size: 20px;
    font-family: "aleo";
    font-weight: bold;
}

.bloc-search{
    display: flex;
   justify-content:space-evenly;
   align-items: center;
}
.bloc-search input{
    font-family: "poppins";
   margin-right:1%;
   border-radius: 60px;  
}
.embed-responsive .card-img-top {
    object-fit: cover;
}

.card{
   text-align: center;
    height: 380px;
}
.btn i{
    margin-right: 5px;
}
.card .btn{
    font-family: "poppins";
}

/*Products */
.products-main{
    margin:0;
    padding:1%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.products{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
    margin:0;
    justify-content: center;
}
.products li{
    flex: 0 1 0 rem;
    margin:1rem;
    margin-bottom: 0;
    height:20rem;
    border-top:0.2rem #e0e0e0 solid;
    background-color:rgba(168, 71, 71, 0.932);
}
.product{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    height:80%;
}
.product img{
    max-height: 26rem;
    max-width: 22rem;
    height:100%;   
}

.product-name a{
    text-decoration: none;
    font-family:"Montserrat";
    color:black;
    font-style: none;
}


